body {
    margin: 0;
    padding: 25px;
}


.top-box {
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box;
}
.napkin {
    height: 150px;
    width: 50px;
    background-color: blueviolet;
    display: inline-block;
}
.placemat {
    height: 200px;
    width: 400px;
    background-color: forestgreen;
    margin: 0 50px;
    display: inline-block;
}
.plate {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: skyblue;
    display: inline-block;
}
.middle-box {
    width: 100%;
    border: 5px dotted black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 25px;
}
.box-above-the-box {
    height: 200px;
    width: 100%;
    background-color: lemonchiffon;
    box-shadow: 5px 10px black;
}
.lower-box {
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
    margin: 25px auto;
    box-shadow: 3px 5px gray;

}
.lower-box h1 {
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
}
